@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Opens Sans', sans-serif;
    font-family: 'Oswald', sans-serif;

}
body{
    background: rgb(110,81,251);
    background: linear-gradient(90deg, rgba(110,81,251,1) 8%, rgba(93,23,140,1) 100%);
    
}
.cell{
    display: inline-block;
    width: 100px;
    background-color: blue;
    border: solid 2px;
    width: 100px;
    height: 100px;
}
.cell h2{
    text-align: center;
    margin-top: 40px;
    color: white;
}
#folder{
    display: inline;
}
#header{
    text-align: center;
    height: 100px;

}
p{margin-top: 50px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}